MPRA_minP.norm.CTRL.diff.pvalues.txt
MPRA_minP.norm.GATA.diff.pvalues.txt
MPRA_minP.norm.diff.pvalues.combined.sig.0.01.mfc_vs_dsvm.txt
MPRA_minP.norm.diff.pvalues.combined.sig.0.01.txt
MPRA_minP.norm.diff.pvalues.combined.txt
MPRA_minP.norm.txt
MPRA_minP_mtsanorm.norm.CTRL.diff.pvalues.txt
MPRA_minP_mtsanorm.norm.GATA.diff.pvalues.txt
MPRA_minP_mtsanorm.norm.diff.pvalues.combined.sig.0.01.mfc_vs_dsvm.txt
MPRA_minP_mtsanorm.norm.diff.pvalues.combined.sig.0.01.txt
MPRA_minP_mtsanorm.norm.diff.pvalues.combined.txt
MPRA_minP_mtsanorm.norm.txt
MPRA_minP_mtsanorm.txt
plot_mfc_vs_dsvm_mfv.pdf
plot_mfc_vs_dsvm_mfv_barplot.pdf
plot_mfc_vs_dsvm_mfv_scatterplot.pdf   
